.list-with-title {
    font-size: 14px;
    margin: 0;
    padding: 0;
    .listing-title {
        font-size: 1.4rem;
        color: #1f1f1f;
        font-weight: bold;
        margin: 50px 0 0 0;
        padding: 0;
        line-height: 2.1;
        &:first-of-type {
            margin: 0;
        }
    }
    .listing-item {
        line-height: 2.1;
        .listing-post {
            padding-bottom: 5px;
            a {
                display: inline-block;
                width: 85%;
            }
            .post-time {
                float: right;
                color: #bec8d2;
                font-size: 14px;
            }
        }
    }
}
