.page-tags {
    text-align: center;
    margin-top: 50px;
    ul {
        margin: 0;
        padding: 0;
        li {
            margin: 10px 15px;
            display: inline-block;
            font-size: 1em;
        }
    }
    .terms-count {
        display: inline-block;
        position: relative;
        top: -8px;
        right: -2px;
        color: #bec8d2;
        font-size: 12px;
    }
}
